streamlit==1.24.0
streamlit_option_menu==0.3.0
folium==0.14.0
streamlit_folium==0.10.0
scikit-learn==1.2.2
nltk==3.8.1
pandas==2.1.0
numpy==1.24.3
xgboost==1.7.4
pycountry==22.1.10
requests==2.31.0
firebase-admin==6.0.1
matplotlib==3.7.1
seaborn==0.12.2
